.profile {
  width: 400px;
  margin: 0 auto;
  margin-top: 150px;
  background-color: rgb(252, 249, 249);
  box-shadow: 1.5px 1.5px 1.5px 1.5px rgb(224, 223, 223);
}

.description {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
  width: 180px;
}

.avatar {
  margin: 0 auto;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 50px;
}

.name {
  font-size: 22px;
  font-weight: 700;
}

.tag,
.location {
  color: grey;
  font-size: 18px;
  line-height: 30px;
}
